* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    background: rgb(84,0,107);
    background: linear-gradient(90deg, rgba(84,0,107,1) 0%, rgba(97,54,170,1) 26%, rgba(77,60,175,1) 52%, rgba(0,164,255,1) 100%);
}
img {
    width: 100%;
    border-radius: 10%;
    margin-bottom: 10px;
}
.row {
    padding: 20px 0;
}